{% extends 'base.html' %}

{% block app_content %}
        <div class="row">            
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <!-- Empty div -->
            </div>        
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                <!-- title -->
                <h1>2fa with Twilio Verify API</h1>
            </div>    
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <!-- Empty div -->
            </div>
        </div>                  
{% endblock %}